	.font_defaul{
		font-size: 12px;
		font-family: font_menu;
	}
.font_bold,.gift{
	font-family: helvetica_bold;
	font-size: 12px;
}
.font_italic_bold{
	 font-size: 12px;
	 font-family: font_italic_bold;
 }
.font_italic{
	font-size: 12px;
	font-family: font_italic;
}

.info_review div,.box_dl_footer h3, .box_dl_footer div,.hotline,.email,.address_ft div,.m_title_search .col-xs-1,.m_title_search .col-xs-11{
	color: white;
}
.wapper_slider ul li img,.info_res .col-md-3 img,.oper_point img,.img100,.box_case .col-md-6 img,.with100{
	width: 100%;
}
