@media screen and (min-width: 1025px) {
	.container{
		width: 1104px !important;
	}
	.title_promotion{
		margin: 20px 0px;
		clear: both;
	}
	.im_logo .col-sm-10{
		width: 100%;
		padding-bottom: 15px;
	}
	._search {
		margin-left: 0px;
	}
	.search_list{
		left: 6%;
	}

	.ic_m_dowload{
		left: 40%;
	}
	.btn_dl_top {
		left: 5%;
	}
	/* reponsive detail */

	.m_caption_detail{
		width: 98%;
		margin-left: 15px;
	}
	.m_logo_detail{
		width: 15%;
		margin-right: 15px;
	}
	.icon_location{
		margin-right: 24px;
	}

	.m_box_top_title{
		padding: 14px 8px 4px;
	}
	.m_box_top_title h2{
		font-size: 15px;
		font-family: helvetica_bold;
		border-left: 5px solid #ffb300;
		padding-left: 10px;
		margin: 0px;
	}
	.m_box_conten{
		padding: 0px 8px;
	}
	.m_title_ h3{
		font-family: helvetica_bold;
		font-size: 13px;
		margin: 0px;
	}
	._m_title{
		font-size: 13px;
		font-family: font-menu;
	}
	.btn_more{
		margin-bottom: 13px;
	}
	.btn_more a{
		padding-right: 10px;
		color: #ffb300;
		text-decoration: none;
		font-size: 12px;
		font-family: font-menu;
	}
	.m_list_qt{
		padding-top: 15px;
		padding-left: 8px;
	}
	.caption_m{
		width: 61%;
		margin-left: 15px;
		margin-top: 10px;
	}
	.caption_m a{
		text-decoration: none;
		font-size: 13px;
		color: #2e2e2e;
		font-weight: 600;
	}
	.m_add_qt{
		font-size: 13px;
		color:#707070;
	}
	.google-maps {
		position: relative;
		padding-bottom:25%;
		height: 0;
		overflow: hidden;
	}
	.conten_mobile{
		padding: 0px 10px;
	}
	.ft_top{
		padding-top: 67px;
	}

	.btn_download_detai_new{
		left: 2%;
	}

}
@media screen and (min-width: 768px) {
	.m_guid_1024{
		padding-left: 30%;
	}
}
@media screen and (max-width: 1024px) {

	.container {
		width: 100%;
	}
	.title_promotion{
		margin: 20px 0px;
		clear: both;
	}
	.im_logo .col-sm-10{
		width: 100%;
		padding-bottom: 15px;
	}
	._search {
		margin-left: 0px;
	}
	.search_list{
		left: 6%;
	}
	.logo{
		left: 2%;
	}
	.m-menu-top{
		margin-left: 3%;
	}
	.ic_m_dowload{
		left: 35%;
	}
	.btn_dl_top {
		left: 5%;
	}
	.im_slider_box {
		width: 100%;
		/* margin: 0px !important; */
	}
	/*.swiper-container {*/
		/*width: 100%;*/
		/*height: 405px;*/
	/*}*/
	.conten_slider_box {
		width: 42%;
	}
	.info_store {
		padding: 0px 6px !important;
		width: 80%;
	}
	.info_res {
		padding: 0px 10px;
	}
	.box_pr {
		 height:auto;
	}
	.box_1{
		line-height: normal;
		min-height: 159px;
	}
	.box_maps {
		width: 57%;
	}
    #jssor_1_detail{
	    width: 753px !important;
    }
	.icon_network li{
		margin-left: 17px;
	}

	.navbar-fixed-top {
			left: 74.3% !important;
	}
    .ft_top{
	    padding-top:  60px;
    }
	.logo_store_detail {
		padding-top: 17px ;
	}
	.box_review_detail {
		margin-top: 3% !important;
	}
	.box_store_reg {
		width: 69%;
	}
    /*box list_detail*/
	.box_1,{
		height: 170px;
	}
	.case-item {
		width: 32.3%;
	}
	.course-item-list {
		width: 24.2%;
		margin-right: 10px;
	}
	.course-item-list:last-child {
		margin-right: 0px;
	}
    .m_icon_logo{
	    width: 18%;
    }
	/*register store*/
	.title_reg_left {
		left: 12%;
		top: 43%;
	}
	.btn_submit {
		margin-top: 50px;
		padding-bottom: 21px;
	}
	.btn_submit a {
		padding: 10px 78px;
	}
	.search-from-group .input-search-wrapper input{
		width: 245px;
		float: left;
	}
    .m_info_gb{
	    width: 70%;
	    padding-left: 10px;
    }
	.box_reg_left {
		background: url(../img/bg_conten_reg.png) no-repeat;
		width: 618px;
		height: 569px;}
	.conten_box2 {
		padding-left: 18%;
		width: 66%;
	}
	.box_left_lendding{
		padding-right: 12%;
	}
	.m_conten_guid_box3{
		padding-left: 40px;
	}

	.litst_hd_box {
		padding: 0px 19px 50px 5px;
	}
	.box_left_box3{
		padding-right: 18%;
	}
    .conten_extenion_box2{
	    width: 65%;
    }
    .m_conten_box4_extenion{
	    width: 65%;
	    padding-left: 16%;
    }

}
@media screen and (max-width: 980px) {
	._list_store:last-child {
		margin-right: 0px;
	}
	._list_store {
		width: 47.6%;
		margin-right: 2.3%;
		margin-bottom:10px;
	}
	/*menu */

	.im_logo .col-sm-10{
		margin-top: 15px;
	}
	.im_icon_logo i{
		font-size: 24px;
		margin-left: 0px !important;
	}
	.im_icon_logo a{
		position: absolute;
		margin: -19px -10px;
		font-size: 20px;
		color: #707070;
	}
	.icon_navbar_tongger{
		display: block;
		top: 38px;
		left: 93%;
	}
	.baner_menu_768{
		width: 100%;
		height: 174px;
		overflow: hidden;
	}
	.closebtn {
		padding: 7px 21px;
		left: -54px !important;
	}
	.thumbnail .cou-pic{
		width: 100%;
		height: auto;
	}
	.bg_im{
		background-color: white !important;
	}
	.time_store{
		left: 5px !important;
		top: 5px;
	}
	.put_by_point{
		margin-top: 10px !important;
	}
	.thumbnail{
		border: none !important;
		margin-bottom:0px !important;
		padding: 0px !important;
	}
	.logo_store {
		height: 30px;
		width: 30px;
		padding: 0px;
	}
	.info_store{
		width: 80% !important;
	}
	.box_dl_footer{
		padding: 20px !important;
	}
	.box_dl_footer div {
		font-size: 13px !important;
	}

	.number_phone, ._email {
		font-size:13px;
		font-family: helvetica_bold;
		color: #42A4DC;
	}
	/*.font_defaul{*/
		/*font-size: 9px;*/
	/*}*/
	.icon_phone i, .icon_email i {
		color: white;
		font-size: 12px;
		padding-top: 0px;
		padding-right: 10px;
	}
	.panel-title {
		color: #dfdbdb;
		font-family: helvetica_bold;
		font-size: 13px;
		text-transform: uppercase;

	}
	.list_menu li{
		text-decoration: none;
		list-style: none;
		font-family: font_menu;
		color: #bdbdbd;
		padding: 5px 0px;
	}
	.panel-title a{
		text-decoration: none;
	}
	#slide-navbar-collapse1 {
		position: fixed;
		top: -1px;
		right: 0px;
		z-index: 99;
		width: 93%;
		height: 100%;
		background-color: white;
	}
	#slide-navbar-collapse{
		position: fixed;
		top: 0;
		right: -100%;
		z-index: 99;
		width: 93%;
		height: 100%;
		background-color: white;
		transition: right 400ms;
	}
	.menu-overlay,.menu-overlay1 {
		display: none;
		background-color: #000;
		bottom: 0;
		left: 0;
		opacity: 0.7;
		filter: alpha(opacity=50);
		position: fixed;
		right: 0;
		top: 0;
		z-index: 49;
	}
	.m_menu_left_, .s-title {
		width: 8.33333333% !important;
	}



	#search{
		margin-top: 10px !important;
	}
	#search label{
		margin-bottom: 0px !important;
	}
	.menu_x_left{
		font-size: 34px !important;
	}
	.m_dowload_menu{
		position: absolute;
		bottom: 22%;
		left: 22%;
	}
	.title_menu_m{
		position: absolute;
		top: 16%;
		padding-left: 24px;
		padding-top: 16px;
		color: white;
	}

	.m_menu_search li{
		border-bottom: 1px solid #bdbdbd;
		text-decoration: none;
		list-style: none;
		padding-top: 20px ;
		text-align: left;
		margin-left: 15px;
		margin-right: 15px;
	}
	.m_menu_home li{
		border-bottom: 1px solid #2e2e2e2e;
		text-decoration: none;
		padding-top: 16px;
		padding-left: 24px;
		list-style: none;
		margin: 0px 8px;
	}
	/*.m_menu_home li:nth-last-child(1){*/
		/*border-bottom: 0px;*/
	/*}*/
	/*.m_menu_home li a .col-xs-11{*/
		/*color: #2e2e2e;*/
		/*font-family: font_menu;*/
		/*font-size: 15px;*/
		/*padding-top: 6px !important;*/
		/*margin-right: 0px;*/
		/*width: 80%;*/
	/*}*/
	.m_menu_home .col-xs-2{
		width: 12%;
	}
	.contact {
		padding-top: 24px;
		border-bottom: 1px solid #707070;
		padding-bottom: 10px;
	}
	.m_home{
		background-image: url(../img/mobile/im4.svg);
		width: 32px;
		height: 32px;
	}
	.m_qd{
		background-image: url(../img/mobile/im3.svg);
		width: 32px;
		height: 32px;
	}
	.m_promotion{
		background-image: url(../img/mobile/im2.svg);
		width: 32px;
		height: 32px;
	}
	.m_partner{
		background-image: url(../img/mobile/im1.svg);
		width: 32px;
		height: 32px;
	}
	.m_news{
		background-image: url(../img/mobile/im5.svg);
		width: 32px;
		height: 32px;
	}
	.m_reg_partner{
		background-image: url(../img/mobile/im6.svg);
		width: 32px;
		height: 32px;
	}
	.m_senpoint{
		background-image: url(../img/mobile/im7.svg);
		width: 32px;
		height: 32px;
	}
	.search{
		width: 93%;
		margin: auto;
	}
	#icon_search_top{
		position: absolute;
		left: 4%;
		top: 29%;
	}
	.icon_list_search{
		font-size: 24px;
		position: absolute;
		right: 20px !important;
		top: 20%;
		color: #42a4dc;
	}
	#search{
		margin-top: 10px;
	}
	.im_input_search{
		width: 95.8%;
		margin: auto;
		padding-top: 11px;
		padding-left: 26px;
		font-size: 13px;
		font-family: font_menu;
	}
	#search  input.input {
		width: 100%;
		padding-left: 16.7px;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}
	.m_title_search a{
		background-color: #ffb300;
	}
	.title_promotion{
		margin: 10px 0px;
		font-size: 15px;
	}

	.put_by_point{
		position: absolute;
		background-color: #ffb300;
		padding: 0px 0px;
		border-radius: 8px;
		color: white;
		top: -5px;
		right: 13px;
		width: 34px;
		height: 34px;
	}
	.number_pt {
		top: 14px;
	}
	.number_pt span{
		font-size: 13px !important;
		margin-top: 14px;
		margin-left: 0px;
	}

	.number_top {
		left: 21px;
		position: absolute;
		top: 4px;
	}
	.time_store label{
		position: static;
	}
	.time_store div {
		padding: 0px 5px;
		font-family: font_menu;
		font-size: 9px;
	}
	.name_store_list{
		font-size: 12px;
		font-family: font_menu;
		color: #2e2e2e;
	}
	.closebtn1 {
		text-align: right;
		padding-right: 10px;
		z-index: 100000;
		background: #ffb300;
		display: table;
		padding: 3px 22px;
		position: absolute;
		left: -62px;
	}
	.list_footer {
		padding-top: 1px;
		padding-bottom: 110px;
	}
	.dl_footer {
		background-image: url(../img/mobile/banner_footer.png);
		background-repeat: no-repeat;
		background-size: 100%;
	}
	.box_dl_footer h3{
		font-size: 13px !important;
	}
	.box_dl_footer .font_italic{
		font-size: 9px !important;
	}
	.icon_dl_footer .col-md-6 {
		width: 15% !important;
	}

	.m_list_body{
		margin-left: -14px;
		padding: 0px;
	}
	.icon_dowload{
		left: 9%;
		top: 0%;
		width: 15px;
		height: 15px;
		background-size: 14px;
	}
	.btn_ad a{
		padding: 5px 38px;
		color: #ffb300;
		border: 1px solid #ffb300;
		border-radius: 15px;
		font-weight: 600;
		font-size: 13px;

	}
	.im_logo_top{
		width: 50%;
		margin: auto;
		padding-top: 20px;
	}
	.m_title_search .col-xs-1{
		font-size: 19px;;
	}
	.m_title_search a{
		background-color: #ffb300;
		color: white;
		font-family: font_menu;
		text-align: left;
		padding: 10px !important;
	}
	.m_menu_search li a .form-control,.m_menu_search li a .form-control:focus,.m_menu_search li a .form-control:active{
		border: 0px solid !important;
		background: transparent;
		border-top: transparent !important;
		border-left: transparent !important;
		border-right: transparent !important;
		box-shadow: none;
	}
	.m_menu_search li a .col-xs-1 i{
		font-size: 15px;
		color: #bdbdbd;
		padding-top: 4px;
	}
	.m_menu_search li a .col-xs-11{
		color: #2e2e2e;
		font-size: 15px;
		font-family: font_menu;
	}
	.btn_ad{
		padding-top: 40px;
	}

	.btn_ad a{
		font-family: font_bold;
		color: #ffb300;
		border: 1px solid #ffb300;
		border-radius: 15px;
		font-weight: 600;
	}
	.sr-only{
		font-family: font_menu;
		color: #707070;
	}
	#search-input1{
		max-height: 38px !important;
	}
	#search-input1::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #707070;
		font-size: 13px;
	}
	#search-input1::-moz-placeholder { /* Firefox 19+ */
		color: #707070;
		font-size: 13px;
	}
	#search-input1:-ms-input-placeholder { /* IE 10+ */
		color: #707070;
		font-size: 13px;
	}
	#search-input1:-moz-placeholder { /* Firefox 18- */
		color: #707070;
		font-size: 13px;
	}
	.m_list_body{
		border-top: none !important;
	}
	.menu_m_bt .panel-heading{
		padding: 10px 10px;
		border-bottom: 1px solid #707070;
	}
	.menu_m_bt .panel-heading .panel-title a i{
		font-size: 22px;
	}
	.menu_m_bt .panel-body .list_menu{
		margin-left: -18px !important;
		/* line-height: 1.8 !important; */
		margin-top: 0px;
	}

	.s_title_menu{
		font-family: font_menu;
		color: #2e2e2e;
		padding-left: 20px;
		font-size: 15px;
		padding-top: 5px;
	}

	.im_cty a,.im_cty a:focus,.im_cty a:active{
		padding: 10px 0px 4px 18px;
		color: #707070;
		font-size: 13px;
		font-family: font_menu;
		text-decoration: none;
	}
	._list_dropdowns{
		width: 100%;
		border-left: 0.3px solid #bdbdbd;
		border-top: 0px;
		border-bottom:  0px;
		border-radius: 0px;
		padding: 0px 8px;
	}
	._list_dropdowns li{
		padding-top: 10px !important;
		color: #707070;
		font-size: 13px;
		font-family: font_menu;
	}
	.info_store {
		padding-left: 6px !important;
	}



	/*Footer */
	.number_phone, ._email {
		font-size: 13px;
		font-family: helvetica_bold;
		color: #42A4DC;
	}
	.menu_m_bt .panel-heading {
		padding: 10px 10px;
		border-bottom: 1px solid #707070;
	}
	.menu_m_bt .panel-heading .panel-title a i {
		font-size: 22px;
	}
	.panel-title {
		color: #dfdbdb;
		font-family: helvetica_bold;
		font-size: 13px;
		text-transform: uppercase;
	}
	.panel-title a {
		text-decoration: none;
	}
	.list_menu li {
		text-decoration: none;
		list-style: none;
		font-family: font_menu;
		color: #bdbdbd;
		padding: 5px 0px;
	}
	.menu_m_bt .panel-body .list_menu {
		margin-left: -18px !important;
		/* line-height: 1.8 !important; */
		margin-top: 0px;
	}
	.list_footer {
		padding-top: 1px;
		padding-bottom: 110px;
	}
	.m_list_body {
		margin-left: -14px;
		padding: 0px;
	}
	.m_dl_footer {
		background-image: url(../img/mobile/banner_footer.png);
		background-repeat: no-repeat;
		background-size: 100%;
	}
	.box_dl_footer {
		padding: 20px !important;
		margin-bottom: 20px;
	}
	.icon_dl_footer .col-md-6 img,.logo_app_store img{
		width: 100%;
	}
	.icon_dl_footer .col-md-6{
		width: 33% !important;
		margin-right: 15px;
	}
	.logo_app_store div{
		width: 16%;
		float: left;
		margin-right: 15px;
	}
	.m_list_body{
		border-top: none !important;
	}
	/* reponsive detail */
	.box_info_detail{
		width: 100%;
	}
	.m_caption_detail{
		width: 98%;
		margin-left: 15px;
	}
	.m_logo_detail{
		width: 6% !important;
		margin-right: 15px;
	}
	.icon_location{
		margin-right: 10px;
	}
	.text_address{
		font-size: 13px;
		color: #707070;
	}
	.m_box_top_title{
		padding: 14px 8px 4px;
	}
	.m_box_top_title h2{
		font-size: 15px;
		font-family: helvetica_bold;
		border-left: 5px solid #ffb300;
		padding-left: 10px;
		margin: 0px;
	}
	.m_box_conten{
		padding: 0px 8px;
	}
	.m_title_ h3{
		font-family: helvetica_bold;
		font-size: 13px;
		margin: 0px;
	}
	._m_title{
		font-size: 13px;
	}
	.btn_more{
		margin-bottom: 13px;
	}
	.btn_more a{
		padding-right: 10px;
		color: #ffb300;
		text-decoration: none;
		font-size: 12px;
	}
	.m_list_qt{
		padding-top: 15px;
		padding-left: 8px;
	}
	.caption_m{
		width: 61%;
		margin-left: 15px;
		margin-top: 10px;
	}
	.caption_m a{
		text-decoration: none;
		font-size: 13px;
		color: #2e2e2e;
		font-weight: 600;
	}
	.m_add_qt{
		font-size: 13px;
		color:#707070;
	}
	.google-maps {
		position: relative;
		padding-bottom: 35%;
		height: 0;
		overflow: hidden;
	}
	.google-maps iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}
    .m_title_{
	    padding: 16px 0px;
    }
	.address{
		font-size: 12px;
	}
}
@media (max-width: 768px) {

	.conten_mobile{
		padding-bottom: 20px;
	}
	._list_store:last-child {
		margin-right: 0px;
	}
	._list_store {
		width: 47.5%;
		margin-right: 2.3%;
		margin-bottom:15px;
	}
	/*menu */

	.im_logo .col-sm-10{
		margin-top: 15px;
	}
	.im_icon_logo i{
		font-size: 24px;
		margin-left: 0px !important;
	}
	.im_icon_logo a{
		position: absolute;
		margin: -19px 14px;
		font-size: 20px;
		color: #707070;
	}
	.icon_navbar_tongger{
		display: block;
		top: 52px;
		left: 91%;
	}
	.baner_menu_768{
		width: 100%;
		height: 174px;
		overflow: hidden;
	}
	.closebtn {
		padding: 7px 21px !important;
		left: -54px !important;
	}
	.thumbnail .cou-pic{
		width: 100%;
		height: auto;
	}
	.bg_im{
		background-color: white !important;
	}
	.time_store{
		left: 5px !important;
		top: 5px;
	}
	.put_by_point{
		margin-top: 10px !important;
	}
	.thumbnail{
		border: none !important;
		margin-bottom:0px !important;
		padding: 0px !important;
	}
	.logo_store {
		height: 30px;
		width: 30px;
		padding: 0px;
	}
	.info_store{
		width: 80% !important;
	}
	.box_dl_footer{
		padding: 20px !important;
	}
	.box_dl_footer div {
		font-size: 13px !important;
	}

	.number_phone, ._email {
		font-size:13px;
		font-family: helvetica_bold;
		color: #42A4DC;
	}
	/*.font_defaul{*/
		/*font-size: 9px;*/
	/*}*/
	.icon_phone i, .icon_email i {
		color: white;
		font-size: 12px;
		padding-top: 0px;
		padding-right: 10px;
	}
	.panel-title {
		color: #dfdbdb;
		font-family: helvetica_bold;
		font-size: 13px;
		text-transform: uppercase;

	}
	.list_menu li{
		text-decoration: none;
		list-style: none;
		font-family: font_menu;
		color: #bdbdbd;
		padding: 5px 0px;
	}
	.panel-title a{
		text-decoration: none;
	}
	#slide-navbar-collapse1 {
		position: fixed;
		top: -1px;
		right: 0px;
		z-index: 99;
		width: 92%;
		height: 100%;
		background-color: white;
	}
	#slide-navbar-collapse{
		position: fixed;
		top: 0;
		right: -100%;
		z-index: 99;
		width: 93% !important;
		height: 100%;
		background-color: white;
		transition: right 400ms;
	}
	.menu-overlay,.menu-overlay1 {
		display: none;
		background-color: #000;
		bottom: 0;
		left: 0;
		opacity: 0.7;
		filter: alpha(opacity=50);
		position: fixed;
		right: 0;
		top: 0;
		z-index: 49;
	}
	.m_menu_left_, .s-title {
		width: 8.33333333% !important;
	}
	#search{
		margin-top: 10px !important;
	}
	#search label{
		margin-bottom: 0px !important;
	}
	.menu_x_left{
		font-size: 34px !important;
	}
	.m_dowload_menu{
		position: absolute;
		bottom: 22%;
		left: 22%;
	}
	.title_menu_m{
		position: absolute;
		top: 16%;
		padding-left: 24px;
		padding-top: 16px;
		color: white;
	}

	.m_menu_search li{
		border-bottom: 1px solid #bdbdbd;
		text-decoration: none;
		list-style: none;
		padding-top: 20px ;
		text-align: left;
		margin-left: 15px;
		margin-right: 15px;
	}
	/*.m_menu_home li{*/
		/*border-bottom: 1px solid #2e2e2e2e;*/
		/*text-decoration: none;*/
		/*padding-top: 16px;*/
		/*padding-left: 24px;*/
		/*list-style: none;*/
		/*margin: 0px 8px;*/
	/*}*/
	/*.m_menu_home li:nth-last-child(1){*/
		/*border-bottom: 0px;*/
	/*}*/
	.m_menu_home li a .col-xs-11{
		color: #2e2e2e;
		font-family: font_menu;
		font-size: 15px;
		padding-top: 6px !important;
		margin-right: 0px;
		width: 80%;
	}
	.m_menu_home .col-xs-2{
		width: 12%;
	}
	.contact {
		padding-top: 24px;
		border-bottom: 1px solid #707070;
		padding-bottom: 10px;
	}
	.m_home{
		background-image: url(../img/mobile/im4.svg);
		width: 32px;
		height: 32px;
	}
	.m_qd{
		background-image: url(../img/mobile/im3.svg);
		width: 32px;
		height: 32px;
	}
	.m_promotion{
		background-image: url(../img/mobile/im2.svg);
		width: 32px;
		height: 32px;
	}
	.m_partner{
		background-image: url(../img/mobile/im1.svg);
		width: 32px;
		height: 32px;
	}
	.m_news{
		background-image: url(../img/mobile/im5.svg);
		width: 32px;
		height: 32px;
	}
	.m_reg_partner{
		background-image: url(../img/mobile/im6.svg);
		width: 32px;
		height: 32px;
	}
	.m_senpoint{
		background-image: url(../img/mobile/im7.svg);
		width: 32px;
		height: 32px;
	}
	.search{
		width: 93%;
		margin: auto;
	}
	#icon_search_top{
		position: absolute;
		left: 1%;
		top: 29%;
	}
	.icon_list_search{
		font-size: 24px;
		position: absolute;
		right: 10px !important;
		top: 19%;
		color: #42a4dc;
	}
	#search{
		margin-top: 10px;
	}
	.im_input_search{
		width: 100%;
		margin: auto;
		padding-top: 11px;
		padding-left: 26px;
		font-size: 13px;
		font-family: font_menu;
	}
	#search  input.input {
		width: 100%;
		padding-left: 16.7px;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}
	.m_title_search a{
		background-color: #ffb300;
	}
	.title_promotion{
		margin: 10px 0px;
		font-size: 15px;
	}

	.put_by_point{
		position: absolute;
		background-color: #ffb300;
		padding: 0px 0px;
		border-radius: 8px;
		color: white;
		top: -5px;
		right: 13px;
		width: 34px;
		height: 34px;
	}
	.number_pt {
		top: 14px;
	}
	.number_pt span{
		font-size: 13px !important;
		margin-top: 14px;
		margin-left: 0px;
	}
	.number_top {
		left: 22px;
		position: absolute;
		top: 4px;
	}
	.time_store label{
		position: static;
	}
	.time_store div {
		padding: 0px 5px;
		font-family: font_menu;
		font-size: 9px;
	}
	.name_store_list{
		font-size: 12px;
		font-family: font_menu;
		color: #2e2e2e;
	}
	.closebtn1 {
		text-align: right;
		padding-right: 10px;
		z-index: 100000;
		background: #ffb300;
		display: table;
		padding: 3px 22px;
		position: absolute;
		left: -62px;
	}
	.list_footer {
		padding-top: 1px;
		padding-bottom: 110px;
	}
	.dl_footer {
		background-image: url(../img/mobile/banner_footer.png);
		background-repeat: no-repeat;
		background-size: 100%;
	}
	.box_dl_footer h3{
		font-size: 13px !important;
	}
	.box_dl_footer .font_italic{
		font-size: 9px !important;
	}


	.m_list_body{
		margin-left: -14px;
		padding: 0px;
	}
	.icon_dowload{
		left: 9%;
		top: 0%;
		width: 15px;
		height: 15px;
		background-size: 14px;
	}
	.btn_ad a{
		padding: 5px 38px;
		color: #ffb300;
		border: 1px solid #ffb300;
		border-radius: 15px;
		font-weight: 600;
		font-size: 13px;

	}
	.im_logo_top{
		width: 50%;
		margin: auto;
		padding-top: 20px;
	}
	.m_title_search .col-xs-1{
		font-size: 19px;;
	}
	.m_title_search a{
		background-color: #ffb300;
		color: white;
		font-family: font_menu;
		text-align: left;
		padding: 10px !important;
	}
	.m_menu_search li a .form-control,.m_menu_search li a .form-control:focus,.m_menu_search li a .form-control:active{
		border: 0px solid !important;
		background: transparent;
		border-top: transparent !important;
		border-left: transparent !important;
		border-right: transparent !important;
		box-shadow: none;
	}
	.m_menu_search li a .col-xs-1 i{
		font-size: 15px;
		color: #bdbdbd;
		padding-top: 4px;
	}
	.m_menu_search li a .col-xs-11{
		color: #2e2e2e;
		font-size: 15px;
		font-family: font_menu;
	}
	.btn_ad{
		padding-top: 40px;
	}

	.btn_ad a{
		font-family: font_bold;
		color: #ffb300;
		border: 1px solid #ffb300;
		border-radius: 15px;
		font-weight: 600;
	}
	.sr-only{
		font-family: font_menu;
		color: #707070;
	}
	#search-input1{
		max-height: 38px !important;
	}
	#search-input1::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #707070;
		font-size: 13px;
	}
	#search-input1::-moz-placeholder { /* Firefox 19+ */
		color: #707070;
		font-size: 13px;
	}
	#search-input1:-ms-input-placeholder { /* IE 10+ */
		color: #707070;
		font-size: 13px;
	}
	#search-input1:-moz-placeholder { /* Firefox 18- */
		color: #707070;
		font-size: 13px;
	}
	.m_list_body{
		border-top: none !important;
	}
	.menu_m_bt .panel-heading{
		padding: 10px 10px;
		border-bottom: 1px solid #707070;
	}
	.menu_m_bt .panel-heading .panel-title a i{
		font-size: 22px;
	}
	.menu_m_bt .panel-body .list_menu{
		margin-left: -18px !important;
		/* line-height: 1.8 !important; */
		margin-top: 0px;
	}

		.s_title_menu{
		font-family: font_menu;
		color: #2e2e2e;
		padding-left: 20px;
		font-size: 15px;
		padding-top: 5px;
	}

	.im_cty a,.im_cty a:focus,.im_cty a:active{
		padding: 10px 0px 4px 18px;
		color: #707070;
		font-size: 13px;
		font-family: font_menu;
		text-decoration: none;
	}
	._list_dropdowns{
		width: 100%;
		border-left: 0.3px solid #bdbdbd;
		border-top: 0px;
		border-bottom:  0px;
		border-radius: 0px;
		padding: 0px 8px;
	}
	._list_dropdowns li{
		padding-top: 10px !important;
		color: #707070;
		font-size: 13px;
		font-family: font_menu;
	}
	.info_store {
		padding-left: 6px !important;
		padding-top: 2px;
	}
    /*detail _store*/
	.m_title_detail_store{
		padding-top: 3px;
		margin-left: -3px;
	}
	.m_percent{
		margin-top: -5px;
		margin-left: 0px;
	}
	.m_im_caption_store{
		margin-right: 15px;
	}
    .font_add{
	    font-size: 12px;
	    color: #707070;
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .title_box_left_detail{
	    padding-top: 20px;
	    padding-bottom: 10px;
	    font-size: 15px;
	    text-align: left;
	    margin: 0px;
    }
	.box_top_title {
		margin-left: 10px ;
	}
	.box_dt {
		width: 68%;
	}
	.overpromo {
		display: block;
		background: transparent;
		overflow-y: hidden;
		overflow-x: auto;
		-ms-overflow-style: none;
		-ms-scroll-snap-type: mandatory;
		-ms-scroll-snap-points-x: snapInterval(0%, 100%);
		-ms-scroll-chaining: chained;
		-webkit-overflow-scrolling: touch;
		width: 100%;
		position: relative;
		z-index: 2;
	}
	.listpromo {
		background: #f4f4f4;
		width: 2000px;
		padding: 0px;
	}
	.box_ud_m{
		padding: 10px;
		background-color: white !important;
		width: 2000px;
	}
	.listpromo li {
		float: left;
		width: 160px;
		background: #fff;
		position: relative;
		padding-right: 8px !important;
		list-style: none;
	}
    .m_caption_ud{
		    padding: 10px 0px 10px 10px ;
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .m_caption_ud a{
	    font-size: 12px;
	    color: #2e2e2e;
	    text-decoration: none;
    }
	/*Footer */
	.number_phone, ._email {
		font-size: 13px;
		font-family: helvetica_bold;
		color: #42A4DC;
	}
	.menu_m_bt .panel-heading {
		padding: 10px 10px;
		border-bottom: 1px solid #707070;
	}
	.menu_m_bt .panel-heading .panel-title a i {
		font-size: 22px;
	}
	.panel-title {
		color: #dfdbdb;
		font-family: helvetica_bold;
		font-size: 13px;
		text-transform: uppercase;
	}
	.panel-title a {
		text-decoration: none;
	}
	.list_menu li {
		text-decoration: none;
		list-style: none;
		font-family: font_menu;
		color: #bdbdbd;
		padding: 5px 0px;
	}
	.menu_m_bt .panel-body .list_menu {
		margin-left: -18px !important;
		/* line-height: 1.8 !important; */
		margin-top: 0px;
	}
	.list_footer {
		padding-top: 1px;
		padding-bottom: 110px;
	}
	.m_list_body {
		margin-left: -14px;
		padding: 0px;
	}
	.m_dl_footer {
		background-image: url(../img/mobile/banner_footer.png);
		background-repeat: no-repeat;
		background-size: 100%;
	}
	.box_dl_footer {
		padding: 20px !important;
		margin-bottom: 20px;
	}
	.icon_dl_footer .col-md-6 img,.logo_app_store img{
		width: 100%;
	}
	.icon_dl_footer .col-md-6{
		width: 15% !important;
		margin-right: 15px;
	}
	.logo_app_store div{
		width: 14%;
		float: left;
		margin-right: 15px;
	}
	.m_list_body{
		border-top: none !important;
	}
		/* reponsive detail */
	.box_info_detail{
		width: 100%;
	}
	.m_caption_detail{
		width: 98%;
		margin-left: 15px;
	}
	.m_logo_detail{
		width: 15%;
		margin-right: 15px;
	}
	.icon_location{
		margin-right: 10px;
	}
	.text_address{
		font-size: 13px;
		color: #707070;
	}
	.m_box_top_title{
		padding: 14px 8px 4px;
	}
	.m_list_store_home{
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
		font-size: 12px !important;
	}
	.m_box_top_title h2{
		font-size: 15px;
		font-family: helvetica_bold;
		border-left: 5px solid #ffb300;
		padding-left: 10px;
		margin: 0px;
	}
	.m_box_conten{
		padding: 0px 8px;
	}
	.m_title_ h3{
		font-family: helvetica_bold;
		font-size: 13px;
		margin: 0px;
	}
	._m_title{
		font-size: 13px;
	}
	.btn_more{
		margin-bottom: 13px;
	}
	.btn_more a,.btn_more_map a{
		padding-right: 10px;
		color: #ffb300;
		text-decoration: none;
		font-size: 13px;
	}
	.m_list_qt{
		padding-top: 15px;
		padding-left: 8px;
	}
	.caption_m{
		width: 61%;
		margin-left: 15px;
		margin-top: 10px;
	}
	.caption_m a{
		text-decoration: none;
		font-size: 13px;
		color: #2e2e2e;
		font-weight: 600;
	}
	.m_add_qt{
		font-size: 13px;
		color:#707070;
	}
	.ft_top {
		padding-top: 15px;
	}
	._title_store_{
		padding: 0px !important;
	}
	.title_bt_h2{
		font-size: 15px;
		font-family: helvetica_bold;
	}
    ._title_caption {
	    font-size: 15px !important;
    }
	.address{
		font-size: 12px;
	}
	.box_pr{
		min-height: 234px;
	}
	.box_1 {
		min-height: 234px;
		line-height: 2;
	}
    /*home*/
	.list_extensions {
		width: 100%;
		padding: 20px 0px;
	}

	.list_extensions li img {
		width: 70%
	}

	.list_extensions li {
		width: 20%;
		float: left;
	}

	.list_extensions li:last-child {
		display: none;
	}
	.icon_next_mb {
		color: #bdbdbd;
		margin-top: 16px;
		font-size: 10px !important;
	}
	.overpromo {
		display: block;
		background: transparent;
		overflow-y: hidden;
		overflow-x: auto;
		-ms-overflow-style: none;
		-ms-scroll-snap-type: mandatory;
		-ms-scroll-snap-points-x: snapInterval(0%, 100%);
		-ms-scroll-chaining: chained;
		-webkit-overflow-scrolling: touch;
		width: 100%;
		position: relative;
		z-index: 2;

	}
    .m_deltail_{
	    width: 12%;
    }

		/*reponsive home*/
		.s_m_case_r{
			font-size:33px !important;
		}
		.m_user_case{
			width: 14%;
		}
		.m_title_case_top{
			font-size: 33px;
			text-align: left;
		}
		.m_title_case_bt{
			font-size: 30px;
			text-align: left;
		}
		.title_m_righ{
			margin-left: 84px;
			margin-top: -28px;
			float: left;
		}
		._s_menu_top{
			margin-top: -20px !important;
		}

		.review_ms li{
			padding-right: 0px !important;
		}

		.icon_next_mb{
			color: #bdbdbd;
			margin-top: 16px;
			font-size: 10px !important;
		}

		.bg_im{
			background-color: white !important;
		}
		.caption {
			padding:10px  0px !important;
		}
		.im_detail_store{
			padding: 20px 0px;
		}
        .m_box_ft_detail,.box_dt{
	        padding: 0px;
        }
		.info_res{
			padding: 10px 0px;
		}
		.time_store{
			left: 5px !important;
			top: 5px;
		}
		.put_by_point{
			margin-top: 10px !important;
		}

		.logo_store {
			height: 30px;
			width: 30px;
			padding: 0px;
		}
		.info_store{
			width: 80% !important;
		}
		.course-item{
			padding: 0px ;
		}
		.course-item .thumbnail{
			margin: 5px 5px !important;
		}
		.swiper-container1{
			height: 265px;
			background-color: white;
			padding: 0px !important;
			margin: 0px !important;
		}
		.name_case{
			padding-top: 0px !important;
			padding-left: 5px;
			margin-top: 0px;
			margin-left:5px;
		}
		.name_case_hidden{
			width: 67%!important;
			padding-left: 5px;
		}

		.panel-title a{
			text-decoration: none;
		}

		.s_review_banner{
			padding-bottom: 20px;
		}

		.m_add_home{
			font-size: 9px;
			padding-bottom: 10px;
		}

		.overpromo{
			display:block;
			background: transparent;
			overflow-y: hidden;
			overflow-x: auto;
			-ms-overflow-style: none;
			-ms-scroll-snap-type: mandatory;
			-ms-scroll-snap-points-x: snapInterval(0%, 100%);
			-ms-scroll-chaining: chained;
			-webkit-overflow-scrolling: touch;
			width: 100%;
			position: relative;
			z-index: 2;
			margin-bottom: 0
		}

		.overpromo::-webkit-scrollbar {
			width: 0;
			height: 0
		}

		.overpromo::-webkit-scrollbar-track {
			-webkit-border-radius: 10px;
			border-radius: 10px
		}

		.overpromo::-webkit-scrollbar-thumb {
			-webkit-border-radius: 10px;
			border-radius: 10px
		}


		.listpromo {
			background: #f4f4f4;
			width: 2000px
		}

		.listpromo li {
			float: left;
			width: 160px;
			background: #fff;
			position: relative;
			padding-right: 8px !important;
			list-style: none;
		}

		.listpromo li img {
			width: 160px;
			height: auto;
		}


		.listpromo li strong {
			font-size: 13px
		}

		.listpromo li h3, .listpromo li .overpromo {
			padding-left: 5px;
			padding-right: 5px
		}
		.homeproduct{
			padding-left: 0px;
		}
		.homeproduct li a {
			display: block;
			overflow: hidden;
		}

		.m_case-item{
			width: 100%;
			padding-top: 0px !important;
		}
		.point_case {
			position: absolute;
			top: 27%;
			left: 16%;
		}
		.box_im_case {
			margin: auto;
			padding-top: 0px !important;
		}
		.icon_next_case {
			background-image: url(../img/Symbol13.png);
			position: absolute;
			width: 30px;
			height: 53px;
			top: 34%;
			left: 49%;
			background-size: 31px;
		}

	.info_review{
		position: absolute;
		left: 6%;
		top: 73%;
	}
	.im_user_review{
		height: auto;
		margin: 0px !important;
	}
	.m_dl_footer{
		background-image: url(../img/mobile/banner_footer.png);
		background-repeat: no-repeat;
		background-size: 100%;
	}
	.dl_footer {
		background-image: url(../img/mobile/banner_footer.png);
		background-repeat: no-repeat;
		/*margin-top: 10px !important;*/
		background-size: 100%;
	}

	.m_info_tea {
		padding-top: 25px;
		padding-left: 120px;
	}
	._m_point_case{
		right: -14%;
	}
	._m_point_left{
		left: 14%;
	}
    .m_lg_detai_store{
	    width: 11.5%;
    }
    /*detail_new*/
	.menu_detail_new_mobile a {
		text-decoration: none;
		padding-left: 10px;
		color:#2e2e2e;
		font-size: 13px;
	}
	.color_default{
		color: #42a4dc !important;
	}
	.color_edit{
		color: #2e2e2e;
	}
    /*register store*/
	.bg_reg{
		background: white;
	}
	.m_banner_reg{
		height: 120px;
		overflow: hidden;
	}
	.title_reg_left a{
		font-size: 13px;
	}
    .box_reg_left,.box_reg_right{
	    width: 100%;
	    height: inherit;
	    background-size: cover;
    }
	.title_reg_left{
		top: 6% !important;
		left: 40% !important;
	}
	.text_bt{
		font-size: 9px;
	}
	.frm_register{
		padding: 24px;
	}
	.btn_submit{
		text-align: center;
	}
	.maps_store_left,.frm_search_right{
		width: 100%;
	}
    .maps_store_left{
	    height: 200px;
    }
	.store_map{
		padding-top:0px;
	}
    .search-from-mobile{
	    background-color: #ffb300;
	    padding: 7px;
    }
	.search-from-mobile .input-search-wrapper input{
		border: none;
		box-shadow: none;
		background-color: white;
		height: 34px;
		padding: 10px 24px;

		margin-left: 55px;
	}
    .icon-search-mobile{
	    position: absolute;
	    margin-top: -23px;
	    margin-left: 60px;
    }
    .icon-search-back{
	    position: absolute;
	    padding-left: 14px;
    }
    .icon-search-reg{
	    position: absolute;
	    padding-left: 14px;
	    padding-left: 30px;
	    padding-top: 30px;
    }
    .icon-search-back i,.icon-search-reg i{
	    font-size: 30px;
	    color: white;
    }
    .m_store_drop{
	    margin-left: 54px;
	    width: 85%;
    }
	.search-from-mobile .input-search-wrapper input{
		width: 89%;
	}
	.m_ipad{
		width:100%
	}
	.m_store_drop {
		width: 89% !important;
	}
    .m_info_left{
	    padding-top: 5px !important;
    }
	.m_info_gb{
		margin-top: 5px !important;
	}
	.m_pd{
		padding: 0px !important;
	}
	.navlendding{
		margin: 0px 0 -5px 17px;
		background: none;
	}
	.navlendding a{
		background: none;
	}
    .m_icon_lendding{
	    margin: -43px 14px !important;
    }
	.m_guid_{
		width: 17%;
	}
    .m_conten_guid_box3{
	    padding-left: 30px;
    }
	.m_conten_guid {
		padding: 0px 50px;
	}

}
@media (max-width: 603px) {

	.m_icon_lendding{
		margin: -25px -14px !important;
	}

	/*menu*/
	.icon_list_search{
		top: 25%;
	}
	#icon_search_top{
		top: 37%;
		left:3%;
	}
	.conten_mobile{
		padding-bottom: 20px;
	}
	._list_store{
		width: 100%;
	}
	._list_store .thumbnail{
		margin-bottom: 8px;
	}
	#slide-navbar-collapse1 {
		position: fixed;
		top: -1px;
		right: 0px;
		z-index: 99;
		width: 84%;
		height: 100%;
		background-color: white;
	}
	#slide-navbar-collapse{
		position: fixed;
		top: 0;
		right: -110%;
		z-index: 99;
		width: 86% !important;
		height: 100%;
		background-color: white;
		transition: right 400ms;
	}
	.menu-overlay,.menu-overlay1 {
		display: none;
		background-color: #000;
		bottom: 0;
		left: 0;
		opacity: 0.7;
		filter: alpha(opacity=50);
		position: fixed;
		right: 0;
		top: 0;
		z-index: 49;
	}

	.logo_app_store div{
		width: 30%;
		float: left;
		margin-right: 15px;
	}
	.im_logo .col-sm-10{
		padding-bottom: 0px !important;
	}
	.icon_navbar_tongger{
		display: block;
		top: 38px;
		left: 91%;
	}
	/* reponsive detail */
    .box_info_detail{
	    width: 100%;
    }
	.m_caption_detail{
		width: 98%;
		margin-left: 15px;
	}
	.m_logo_detail{
		width: 15% !important;
		margin-right: 15px;
	}
	.icon_location{
		margin-right: 10px;
	}
	.text_address{
		font-size: 12px;
		color: #707070;
	}
    .m_box_top_title{
        padding: 14px 8px 4px;
    }
    .m_box_top_title h2{
	    font-size: 15px;
	    font-family: helvetica_bold;
	    border-left: 5px solid #ffb300;
	    padding-left: 10px;
	    margin: 0px;
    }
    .m_box_conten{
	    padding: 0px 8px;
    }
    .m_title_ h3{
		font-family: helvetica_bold;
	    font-size: 13px;
	    margin: 0px;
    }
    ._m_title{
	    font-size: 13px;
    }
	.btn_more,.btn_more_map{
		margin-bottom: 13px;
	}
    .btn_more a,.btn_more_map a{
	    padding-right: 10px;
	    color: #ffb300;
	    text-decoration: none;
	    font-size: 13px;
    }
    .m_list_qt{
	    padding-top: 15px;
	    padding-left: 8px;
    }
    .caption_m{
	    width: 61%;
	    margin-left: 15px;
	    margin-top: 10px;
	    }
	.caption_m a{
		text-decoration: none;
		font-size: 13px;
		color: #2e2e2e;
		font-weight: 600;
	}
    .m_add_qt{
	    font-size: 13px;
	    color:#707070;
    }
	.google-maps {
		position: relative;
		padding-bottom: 25%;
		height: 0;
		overflow: hidden;
	}
	.google-maps iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}

    .m_info_res{
	    padding-top: 11px;
    }
    .m_tag{
	    font-size: 12px;
	    font-weight: normal;

    }
    .date_end_bt{
	   padding-bottom: 0px;
    }
    .ic_clock,.icon_location,.ic_time_ad,.ic_telephone{
	    margin-top: 0px;
    }
    .same_title{
	    font-weight: normal;
	    font-size: 9px;
    }
	.ft_top {
		padding-top: 15px;
	}
    .ic_telephone{
	    margin-left: 5px !important;
    }
    .list_new{
	    padding-top:0px
    }
	.icon_dl_footer .col-md-6{
		width: 33% !important;
		margin-left: 0px;
	}
	._list_store .thumbnail .im_detail img,.box_pr{
		height: auto;
	}
	.result_search{
		font-size: 12px;
		padding-bottom:10px
	}
	/*detail_store*/
	.box_1{
		min-height: 0;
		line-height: 2 !important;
	}
	.icon_network li {
		margin-left: 20px !important;
	}
	.im_icon_logo a{

		margin: -25px -14px;
	}
    .address{
	    font-size: 12px;
    }
	.box_pr{
		min-height: 0px;
	}
    /*home*/
	.list_extensions {
		padding: 8px 0 !important;
		background-color: white !important;
	}
	.time_gift{
		padding: 0px 3px;
	}

	.time_gift span {
		font-size: 9px;
		padding: 2px 0px;
		top: 31px;
	}
	.time_gift i {
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 1px;
		color: #2e2e2e !important;
	}
	.listpromo li {
		float: left;
		width: 160px;
		background: #fff;
		position: relative;
		padding-right: 8px !important;
		list-style: none;
	}
	.homeproduct li a {
		display: block;
		overflow: hidden;
	}
	.gift {
		font-size: 9px;
		padding: 2px 6px;
	}
	.time_gift {
		top: 30px;
	}
	.caption {
		padding: 10px 0px 10px 10px !important;
	}
	.title_caption {
		font-size: 9px;
	}
	._title_caption {
		font-size: 12px;

	}
	.m_list_store_home{
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	.m_homepage {
		width: 80% !important;
		padding-left: 6px;
	}
	.name_store_list {
		font-size: 12px;
		color: #2e2e2e;
	}
	.m_add{
		font-size: 9px;
	}
    .m_box_res{
	    padding-bottom: 10px;
    }
	.name_case{
		padding-top: 0px !important;
		padding-left: 5px;
		font-family: font_menu;
		margin-top: 0px;
		margin-left:5px;
	}
	.name_case_hidden{
		width: 67%!important;
		padding-left: 5px;
	}

	._sm_case{
		height: 235px;;
	}
	._sm_case .swiper-container{
		height: 233px !important;
	}
	._sm_case .swiper-container .swiper-wrapper{
		width: 427px !important;
	}
	._sm_case.swiper-container {
		width: 100%;
		height: 100%;
	}

	.m_case-item{
		width: 100%;
		padding-top: 0px !important;
	}
	.point_case {
		position: absolute;
		top: 27%;
		left: 16%;
	}
	.box_im_case {
		margin: auto;
		padding-top: 0px !important;
	}
	.icon_next_case {
		background-image: url(../img/Symbol13.png);
		position: absolute;
		width: 30px;
		height: 53px;
		top: 34%;
		left: 49%;
		background-size: 31px;
	}
	/*reg store*/
	.title_reg_left{
		top: 6% !important;
		left: 20% !important;
	}
	.search-from-mobile .input-search-wrapper input{
		border: none;
		box-shadow: none;
		background-color: white;
		height: 34px;
		padding: 10px 30px;
		margin-left: 32px;
		border-radius: 5px;
	}
	.icon-search-mobile{
		position: absolute;
		margin-top: -23px;
		margin-left: 39px;
	}
	.m_store_drop {
		width: 89% !important;
		margin-left: 33px;
	}
    .icon-search-back{
	    padding-left: 7px;
    }
    .m_pd{
	    padding: 0px !important;
    }
    .m-search-home{
	    margin-bottom: 20px;
    }
    .m_menu_home{
	    padding-top: 3%;
    }
	.navlendding{
		margin: 0px 0 -5px -14px;
	    background: none;
	}
    .navlendding a{
	    background: none;
    }
    .m_guid_{
	    width: 17%;
    }

}
@media screen and (max-width: 568px) {

}
@media screen and (max-width: 480px) {
	.closebtn {
		padding: 7px 21px !important;
		left: -56px !important;
	}
	#slide-navbar-collapse{
		width: 85% !important;
	}
	.m_dowload_menu {
		position: absolute;
		bottom: 28px;
		left: 18%;
	}
	.baner_menu_768 {
		height: 130px;
	}
	.icon_network li {
		margin-left: 7px !important;
	}

	.icon-search-mobile{
		position: absolute;
		margin-top: -25px;
		margin-left: 39px;
	}
	.m_store_drop {
		width: 83%;;
	}
	.m_conten_guid{
		padding: 0px 24px;
	}
}
