
@font-face {
	font-family: font_menu;
	src: url('../font/Helvetica/helveticaneue.ttf');
	src: url('../font/Helvetica/HelveticaNeue.otf');
}
@font-face {
	font-family: helvetica_bold;
	src: url('../font/Helvetica/helveticaneuebold.ttf');
	url('../font/Helvetica/helveticaneuebold.otf');
}
@font-face {
	font-family: font_italic_bold;
	src: url('../font/Helvetica/helveticaneuebolditalic.ttf');
}
@font-face {
	font-family: font_italic;
	src: url('../font/Helvetica/helveticaneueitalic.ttf');
}
.mt1 {
	margin-top: 5px;
}
.ml5{
	margin-left: 5px;
}
.mt10{
	margin-top: 10px;
}
.pd20{
	padding: 20px 0px;
}
.pdtop20{
	padding-top: 20px;
}

.pd_bt10{
	padding-bottom: 10px;
}
.left10{
	padding-left: 10px;
}
.left20{
	margin-left: 20px;
}
.mg_left15px {
	margin-left: 15px;
}
.pd_bt20{
	padding-bottom: 20px;
}
.wapper{
	max-width: 1366px !important;
	margin: 0 auto;
}
.no_margin{
	margin: 0px !important;
}
.no_pd{
	padding: 0px !important;
}
.pd8 {
	padding: 7px 0px;
}
	/* menu  */
.menu_top{
	background-color: #2e2e2e;
}
.menu_top .navbar-nav li{
	font-size: 12px;
	font-family:font_menu;
}
.menu_top .navbar-nav li a{
	color: #f3f3f3;
}
.menu_top .navbar-nav li a:hover, .menu_top .navbar-nav li a:focus, .menu_top .navbar-nav li a:active{
	background-color: #2e2e2e;
}
#input_search{
	padding-bottom: 9px !important;
	border-color: #66afe9 !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-family: font_menu;
	font-size: 10px;

}
.text_city_search{
	font-family: font_menu;
	font-size: 10px;
	padding-top: 5px;
	cursor: pointer;
	padding-left: 8px;
}
.text_distrist_search{
	font-family: font_menu;
	font-size: 10px;
	padding-top: 5px;
	cursor: pointer;
	padding-left: 8px;
}
.dropdownMenu2{
	margin-left: 57px !important;
}
::-moz-placeholder { /* Firefox 19+ */
	font-family: font_menu;
	font-size: 10px;
	padding-bottom: 11px;
}
:-ms-input-placeholder { /* IE 10+ */
	font-family: font_menu;
	font-size: 10px;
}
:-moz-placeholder { /* Firefox 18- */
	font-family: font_menu;
	font-size: 10px;
}

._search .input-group{
	width: 225px;
	padding-left: 10px;
}

.search_city{
	width: 105px;
	border: 1px solid #dbdbdb;
	border-radius: 6px;
	height: 34px;
	margin-left: 6px;
	border-color: #66afe9 !important;
	cursor: pointer;
}
.text_city_search,._input_at,._input_distrist {
	color: #707070;
}
._input_city{
	width: 49px !important;
	border: 0px;
	padding-top: 4px;
	color:#dbdbdb ;
}
._input_at{
	width: 49px !important;
	border: 0px;
	padding-top: 4px;
}
._input_distrist{
	width: 49px;
	border: 0px;
	padding: 4px;
	padding-left: 6px;
}
.city{
	width: 105px !important;
	height: 32px !important;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
	border: 1px solid #dbdbdb;
	border-top-right-radius:10px ;
	border-bottom-right-radius: 10px;
}
._search{
	margin-left: 10px;
}
._icon_menu_search{
	color: #bdbdbd;
	padding: 8px ;
	font-size: 15px !important;
}

.icon_caret {
	top: 0px;
	color: #bdbdbd;
	border-top: 7px dashed;
	border-top: 4px solid\9;
	border-right: 6px solid transparent !important;
	border-left: 6px solid transparent !important;
	left: -8px;
	position: relative;
	margin-left: 64px;
	margin-top: -11px;
}
._input_city input[type=text] {

	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 15px;
	background-color: #707070;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	font-family:font_menu ;
}
._input_city input[type=text] {

	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 15px;
	background-color: #707070;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	font-family:font_menu ;
}
.list_drop_menu{
	top: 37px;
	left: -29px;
	min-width: 105px !important;
	padding-top: 0px !important;
	border-top: 1px solid #42A4DC;
}
.list_drop_menu li a,.list_top_search,.list_drop_new{
	font-size: 12px;
	font-family:font_menu ;
}
.list_top_search{
	background-color: #42A4DC;
	color: white;
	padding: 0 19px;
}
.blue,.list_drop_menu li a:hover,.list_drop_new a:hover{
	color: #42A4DC !important;
}
.list_drop_menu:before ._s1 a{
	background-color: #42A4DC;
}
.icon_dropdown{
	background-image: url(../img/mobile/dropdown.svg);
	width: 10px;
	height: 6px;
	position: absolute;
	right: 0%;
	top: 66%;
}

.list_drop_menu:before{
	position: absolute;
	top: -8px;
	left: 84%;
	width: 0;
	height: 0;
	margin-left: -10px;
	content: '';
	border-right: 7px solid transparent;
	border-bottom: 7px solid #42A4DC;
	border-left: 7px solid transparent;
}
.icon_district{
	float: left;
}
.btn_search, .btn_search:hover{
	background-color: #f3f3f3;
}
.btn_search .btn, .btn_search .btn:hover, .btn_search .btn:active {
	background-color: #f3f3f3;
	border-color: #f3f3f3;
	border-right: 1px solid #66afe9;
	border-top: 1px solid #66afe9;
	border-bottom: 1px solid #66afe9;
}

.search_btn{
	color: #bdbdbd;
	padding: 3px 0px;
}
.btn_dowload{
	background-color: #ffb300;
	border-radius: 15px;
	padding: 8px 16px 7px 26px;
	font-family: helvetica_bold;
	font-size: 12px;
	color: white;
}
.btn_dowload:hover, .btn_dowload:focus,.btn_dowload:active{
	color: white;
}

.search_list {
	padding-left: 30px;
}
.icon_dowload{
	float: left;
	position: absolute;
	left: 44%;
	top: 15%;
	color: white;
	background-image: url(../img/dowload66.png);
	background-repeat: no-repeat;
	width: 26px;
	height: 36px;
	background-size: 19px;
}
.no_margin {
	margin: 0px !important;
}
/*end menu  */

/* slider  css*/
.swiper-container {
	width: 100%;
	height: 416px;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;

	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.im_slider_box img{
	height: 430px;
}
.im_slider_box{
	width: 69%;
}
.conten_slider_box{
	width: 40%;
}
.store_important{
	padding: 60px 63px;
}
.conten_right ._box_icon{
	width: 36%;
	margin: auto;
}
.conten_right img{
	width: 100%;
}
.s_title_xofa{
	padding: 20px 0px;
}
.s_title_xofa a{
	font-family: helvetica_bold;
	font-size: 22px;
	text-align: center;
	text-decoration: none;
	color: black;
}
.conten_xofa{
	font-family: font_italic;
	font-size: 12px;
	text-align: left;
	padding-bottom: 50px;
}
.info_box_xofa i{
	color: black;
	font-size: 13px;
	padding-right: 11px;
}
.info_box_xofa span{
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #707070;
}
.wapper_slider_store .swiper-pagination{
	padding-bottom: 10px;

}
.wapper_slider_store .swiper-pagination-bullet{
	width: 10px !important;
	height: 10px !important;
}
.wapper_slider_store .swiper-pagination-bullet-active{
	background-color: #ffb300 !important;
}

.name_slider_store a{
	text-decoration: none;
}
/* end slider index css*/

/*  slider  detail*/
.jssora106 {display:block;position:absolute;cursor:pointer;}
.jssora106 .c {fill:#fff}
.jssora106 .a {fill:#bdbdbd;stroke:#bdbdbd;stroke-width:350;stroke-miterlimit:10;}

/*jssor slider thumbnail skin 101 css*/
.jssort101 .p {position: absolute;top:0;left:0;box-sizing:border-box;background:#000;}
.jssort101 .p .cv {position:relative;top:0;left:0;width:100%;height:100%;border:2px solid #000;box-sizing:border-box;z-index:1;}
.jssort101 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;visibility:hidden;}
.jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {border:none;border-color:transparent;}
.jssort101 .p:hover{padding:2px;}
.jssort101 .p:hover .cv {background-color:rgba(0,0,0,6);opacity:.35;}
.jssort101 .p:hover.pdn{padding:0;}
.jssort101 .p:hover.pdn .cv {border:2px solid #fff;background:none;opacity:.35;}
.jssort101 .pav .cv {border-color:#fff;opacity:.35;}
.jssort101 .pav .a, .jssort101 .p:hover .a {visibility:visible;}
.jssort101 .t {position:absolute;top:0;left:0;width:100%;height:100%;border:none;opacity:.6;}
.jssort101 .pav .t, .jssort101 .p:hover .t{opacity:1;}
/*jssor slider bullet skin 052 css*/
.jssorb052 .i .b {fill:black !important;fill-opacity:0.5;}
.jssorb052 .i .b:hover {fill:#ffb300 !important; fill-opacity:0.5;}
.jssorb052 .i:hover .b {fill:#ffb300 !important; fill-opacity:.7;}
.jssorb052 .iav .b {fill:#ffb300 !important;fill-opacity: 1;}

/*jssor slider thumbnail skin 101 css*/
.jssort101 .p {position: absolute;top:0;left:0;box-sizing:border-box;background:#000;}
.jssort101 .p .cv {position:relative;top:0;left:0;width:100%;height:100%;border:2px solid #000;box-sizing:border-box;z-index:1;}
.jssort101 .a {fill:#ffb300;stroke:#fff;stroke-width:400;stroke-miterlimit:10;visibility:hidden;}
.jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {border:none;border-color:transparent;}
.jssort101 .p:hover{padding:2px;}
.jssort101 .p:hover .cv {background-color:rgba(0,0,0,6);opacity:.35;}
.jssort101 .p:hover.pdn{padding:0;}
.jssort101 .p:hover.pdn .cv {border:2px solid #fff;background:none;opacity:.35;}
.jssort101 .pav .cv {border-color:#fff;opacity:.35;}
.jssort101 .pav .a, .jssort101 .p:hover .a {visibility:visible;}
.jssort101 .t {position:absolute;top:0;left:0;width:100%;height:100%;border:none;opacity:.6;}
.jssort101 .pav .t, .jssort101 .p:hover .t{opacity:4;}

.box_name_detail{
	background-color: white;
}
.logo_store_detail{
	width: 41%;
	margin: auto;
	padding-top:40px;
}
.name_detail a{
	text-decoration: none;
	font-family: helvetica_bold;
	font-size: 12px;
	color: #2e2e2e;
}
.name_detail div{
	font-family: font_italic;
	font-size: 12px;
	color: #707070;
}
.box_address_detail{
	padding-left: 20px;
	padding-top:20px;
}
.ic_clock{
	background-image: url(../img/detail/time.svg);
	width: 21px;
	height: 21px;
	background-size: 100%;
	margin-top: 5px;
}
.icon_location{
	background-image: url(../img/placeholder.svg);
	width: 21px;
	height: 21px;
	margin-right: 28px;
	background-size: 100%;
	margin-top: 5px;
}
.ic_time_ad{
	background-image:url(../img/opened-door-aperture.svg);
	width: 21px;
	height: 21px;
	background-size: 100%;
	margin-top: 5px;
}
.ic_telephone{
	background-image:url(../img/detail/phone.svg);
	width: 15px;
	height: 15px;
	background-size: 100%;
	margin-top: 5px;
	margin-left: 7px;
}
.ic_percent{
	background-image:url(../img/percentage.svg);
	width: 15px;
	height: 15px;
	background-size: 100%;
	margin-top: 5px;
	margin-left: 7px;
}
.conten_detail{
	padding-left: 20px;

}
.date_end{
	padding-bottom: 20px;
}
.text_address{
	font-weight: bold;
}
._title_text,.text_address{
	font-size: 10px;
	color: #707070;
}

.load_more{
	padding: 0px 0px 24px 0px;
	text-align: center;
}
.load_more a{
	text-decoration: none;
	color: #707070;
	font-size: 10px;
	border: 1px solid #707070;
	border-radius: 29px;
	text-align: center;
	padding: 6px 40px;
}
.slider_detail{
	background-color: white;
}

	/* end slider  detail*/
/*box info detail*/
.box_info_detail,.box_impotant{
	background-color: white;
	margin-top: 30px;
}

.box_review_detail{
	background-color: white;
	width: 100%;
	margin: 30px 0px;
}
.title_km{
	border-left: 5px solid #ffb300;
	padding-left: 10px;
	font-weight: bold;
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.box_top_title{
	margin:0px 30px;
}
.line1 {
	height: 1px;
	overflow: hidden;
	background: #dbdbdb;
}
.border_title{
	border-bottom: 1px solid #707070;
}
.box_conten_info{
	padding: 0px 42px;
}
.box_conten_info div a{
	text-decoration: none;
}
.box_conten_info div a h3{
	font-weight: bold;
	font-size: 12px;
	margin-top: 10px;
	color: #2e2e2e;

}
._s_title,._conten{
	font-size: 12px;
	color: #2e2e2e;
}
.time_conten{
	padding-top: 10px;
	margin: 0px;
}
.more_{
	padding: 20px 0px;
}
.more_ a{
	color:#ffb300;
	text-decoration: none;
	font-size: 12px;
}
.box_conten_maps{
	padding: 20px 29px;
}
.scroll {
	overflow: hidden;
	display: block;
}
.box_maps{
	height: 180px;
	width: 60%;
	overflow-y: scroll;
	padding-left: 20px;
}
.info-add a{
	text-decoration: none;
}
.add_maps span:hover,.add_maps span:focus{
	color: #3d75be;
}
.info-add  a span ,.info-add,.icon_cd{
	font-size: 13px;
	color: #707070;
	line-height: 2;
}
.icon_cd{
	transform: rotate(-90deg);
}

.m_caption_detail a{
	text-decoration: none;
	font-family: font-menu;
	font-size: 15px;
	color: #2e2e2e;
	font-weight: 600;
}


.title_caption{
	background-color: #42A4DC;
	padding: 2px 5px;
	font-family: font_menu;
	font-size: 12px;
	border-radius: 10px;
	color: white;
	text-decoration: none;
}
._location_ span{
	color: #ffb300 !important;
}
.m_detail_ft{
	padding: 10px 2px !important;
}
/*css mobile detail*/
._box_add,._box_km,._box_qt{
	background-color: white;
	margin-top: 10px;
}
.m_box_address{
	padding: 16px 0px 18px 8px  ;
}
.m_conten_detail{
	padding-left: 8px;
}
.complate{
	display: none;
}
	/*box info detail*/
.box_qt{
	margin: 20px 29px;
}
.swiper112{
	height: 214px !important;
}
._review_banner{
	position: relative;
}
.wapper_slider .swiper-button-prev,._review_banner .swiper-button-prev{
	left: -2%;
	background-image: url(../img/svg/arrow-down-sign-to-navigate.svg)  !important;
	transform: rotate(180deg);
}
.wapper_slider .swiper-button-next ,._review_banner .swiper-button-next{
	right: -2%;
	background-image: url(../img/svg/arrow-down-sign-to-navigate.svg) !important;
}

.wapper_slider .swiper-button-next, .wapper_slider .swiper-button-prev,._review_banner .swiper-button-prev,._review_banner .swiper-button-next{
	background-color: white;
	width: 39.55px;
	height: 39.55px;
	border-radius: 50%;
	background-size: 15px 16px;
	position: absolute;
	outline: none;
	margin-top: -31px !important;
	box-shadow: rgba(42,42,42,.05) -2px 2px 2px 2px,
				rgba(32,32,32,.05) 4px 4px 4px 2px,
				rgba(32,32,32,.05) 2px 2px 2px 0px,
				rgba(32,32,32,.05) 4px 2px 2px 0px;
}
.banner_review{
	height: auto;
}

.box_ft_detail .thumbnail{
	padding: 0px;
	margin-right: 10px;
	border: none !important;
	margin-bottom: 0px;
}
.banner_review .swiper-slide {
	width: 244px;
	/* width: 215px; */
	background: transparent;
}

.box_sl_detail {
	margin-top: 20px;
}
.gift{
	position: absolute;
	background-color: #ffb300;
	padding: 3px 8px;
	border-radius: 15px;
	color: white;
	top: 10px;
	left: 10px;
}
.time_gift{
	position: absolute;
	background-color: white;
	border-radius: 15px;
	padding: 0px 5px;
	font-size: 12px;
	top: 39px;
	font-family: font-menu;
	left: 10px;
}
.time_gift i{
	padding-left: 10px;
}
.time_gift span{
	color: #2e2e2e;
	padding: 1px 4px;
	font-size: 12px;
	font-family: font_menu;
}
.point{
	padding-left: 10px !important;
}
._name_detail_ft {
	padding: 11px 0px 11px 5px;
}
._name_detail_ft a,._name_detail_ft div{
	text-decoration: none;
	font-family: helvetica_bold;
	font-size: 13px;
	color: #2e2e2e;
	text-align: left;
}
.box_same{
	width: 30%;
}
._title_caption{
	font-family: helvetica_bold;
}

	/*box conten list store*/
.conten,.banner,.slider_top,.conten_mobile{
	background-color: #f3f3f3;
}
.title_promotion {
	border-left: 5px solid #ffb300;
	padding-left: 10px;
	font-size: 22px;
	font-family: font_menu;
	font-weight: bold;
	margin: 20px 0px;
}

._list_store{
	width: 24%;
	position: relative;
	float: left;
	margin-right: 1.33%;
}
.box_detail{
	width: 100%;
	position: relative;
	float: left;
	margin-right: 1.33%;
}
.box_detail .thumbnail{
	padding: 0px;
}

._list_store:last-child{
	margin-right: 0px;
}
.time_store {
	position: absolute;
	background-color: white;
	border-radius: 15px;
	font-size: 12px;
	top: 10px;
	font-family: font-menu;
	left: 10px;
}

.time_store div {
	padding: 2px 12px;
	font-family: font_menu;
	margin-top: 2px;
	background-color: white;
}

.time_store label {
	background-image: url(../img/opened_door.png);
	width: 8px;
	height: 9.56px;
	position: relative;
	margin: 0px 1px;
}

.put_by_point {
	position: absolute;
	background-color: #ffb300;
	padding: 28px 28px;
	border-radius: 15px;
	color: white;
	top: 10px;
	right: 10px;
}

.number_top {
	margin-left: -13px;
	position: absolute;
	top: 5px;
}

.number_pt {
	position: absolute;
	top: 17px;
}
.number_pt span {
	font-size: 22px;
	padding: 0px 3px;
	margin-left: -26px;
}

.logo_store{
	width: 15%;
	float: left;
}

.logo_store img{
	width: 100%;
}
.info_store {
	width: 75%;
	padding-left: 10px;
	float: left;
}
._info_res {
	background-color: white;
	padding: 10px 16px;
	border-top: 1px solid #dcdcdc;
}
.pd10{
	padding:10px 0px;
}

.header_new{
	position:relative;
	-moz-box-shadow:0 1px 4px rgba(45,45,45,.05), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(45,45,45,.05), 0 0 40px rgba(45,45,45,.05) inset;
}
.box_shadow_df,.wapper_slider_store,._list_store_detail ,.box_oper_point{
	box-shadow: rgba(45,45,45,.05) 0 0 0, rgba(49,49,49,.05) 0 1px 1px,
	rgba(42,42,42,.05) 0 2px 2px,
	rgba(32,32,32,.05) 0 4px 4px,
	rgba(49,49,49,.05) 0 8px 8px,
	rgba(35,35,35,.1) 0 16px 16px !important;
	transform: translate(0,-2px) !important;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.box_info_detail,.slider_detail,.box_name_detail,.box_impotant,.box_review_detail,{
	box-shadow: rgba(45,45,45,.05) 0 0 0, rgba(49,49,49,.05) 0 1px 1px, rgba(42,42,42,.05) 0 2px 2px, rgba(32,32,32,.05) 0 4px 4px, rgba(49,49,49,.05) 0 8px 8px, rgba(35,35,35,.1) 0 16px 16px;
	transform: translate(0,-2px);
}
.home_list .thumbnail{
	margin-bottom: 0px !important;
}
._list_store .thumbnail,.box_store_detail .thumbnail,.menu_detail {
	padding: 0px;
	box-shadow: rgba(45,45,45,.05) 0 0 0, rgba(49,49,49,.05) 0 1px 1px, rgba(42,42,42,.05) 0 2px 2px, rgba(32,32,32,.05) 0 4px 4px, rgba(49,49,49,.05) 0 8px 8px, rgba(35,35,35,.1) 0 16px 16px;
	transform: translate(0,-2px);
}
.name_store_list a, .name_store_list a:hover,.name_store a,.name_store a:hover{
	font-size: 12px;
	font-family: helvetica_bold;
	text-decoration: none;
	color: black;
}
.info_store {
	padding-left: 6px;
}
._location {
	color: #1081E0;
	padding-right: 5px;
}
._tag {
	color: #717171;
	padding-right: 3px;
}
.list_more{
	text-align: center;
	margin: auto;
	padding:20px 0px 40px 0px;
}
.list_more a,.list_more a:hover{
	color: white;
	font-family: helvetica_bold;
	font-size: 16px;
	text-transform: uppercase;
	background-color: #ffb300;
	border-radius: 29px;
	padding: 15px 65px;
	text-decoration: none;
}
/*End box conten list store*/
/*close mobile*/
.closebtn{
	text-align: right;
	padding-right: 10px;
	z-index: 100000;
	background: #ffb300;
	display: table;
	padding: 7px 18px;
	position: absolute;
	left: -49px;
	top: 0px;
}
.menu_tongger{
	margin: 0px;
}
.menu_tonggers1{
	right: 0px !important;
}
/*Footer*/
.dl_footer{
	background-image: url("../img/bg_fotter.jpg") ;
	background-repeat:no-repeat ;
	background-size: 100%;
}
.box_dl_footer{
	padding: 70px 0px 70px 0px;
}
.icon_dl_footer{

	height: auto;
}
.icon_dl_footer .col-md-6{
	width: 18% !important;
}
.footer{
	background-color: #2e2e2e;
}

.icon_phone i,.icon_email i{
	color: white;
	font-size: 34px;
	padding-top: 10px;
	padding-right: 10px;
}
.email{
	padding-left: 74px;
}
.number_phone,._email{
	font-size: 22px;
	font-family: helvetica_bold;
	color: #42A4DC;
}
.contact{
	border-bottom: 1px solid #707070;
	padding-bottom: 10px;
	padding-top: 25px;
}
.list_footer{
	padding-top: 50px;
	padding-bottom: 150px;
}
.address_ft{
	padding: 0px 77px;
}
.icon_network{
	padding: 20px 0px;
}
.title_list_footer .font_bold div {
	font-size: 24px;
}
._list_footer .col-md-4 ul li a, ._list_footer .col-md-4 ul li a:hover, .address_ft div .font_defaul {
	color: #bdbdbd !important;
}
._list_footer div ul li a, ._list_footer div ul li a:hover {
	text-decoration: none;
	color: white;
}
._list_footer .col-md-4 ul li {
	padding: 5px 0px;
	color: #bdbdbd;
}
.icon_network li{
	display: inline-block;
	list-style: none;
	float:left;
	margin-left: 24px;
}
.icon_network li:nth-child(1) {
	margin-left: 0px;
}
._list_footer div ul li a,._list_footer div ul li a:hover{
	text-decoration: none;
	color: white;
}
.bt_none{
	border-bottom: 0px!important;
}
.logo_app_store div{
	width: 13%;
	float: left;
	margin-right: 15px;
}
.logo_app_store img{
	width: 100%;
}
/*load more mobile*/
.m_load_more_die_ative, .view_more_active .m_load_more,.m_load_more_die_ative_map, .view_more_active_map .m_load_more_map{
	display: none;
}
.view_more_active .m_load_more_die_ative,.view_more_active_map .m_load_more_die_ative_map{
	display: block;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
/*css list new*/

.menu_header{
	margin-left:6%;
	padding-top: 10px;
}
.dropdown-toggle a{
	text-decoration: none;
	font-size: 12px;
	color: #2e2e2e;
	padding-right: 50px;
}
.dropdown-toggle i{
	margin-left: 6px;
}
.list_drop_new:before{
	position: absolute;
	top: -8px;
	left: 84%;
	width: 0;
	height: 0;
	margin-left: -10px;
	content: '';
	border-right: 7px solid transparent;
	border-bottom: 7px solid white;
	border-left: 7px solid transparent;
}
.list_drop_new{
	top: 40px !important;
	min-width: 105px !important;
	padding-top: 0px !important;
	border-top: 1px solid white;
}
.list_box1{
	top: 40px !important;
	left: -4px;
}
.list_box2{
	left: 47px;
}
.list_box3{
	top: 40px !important;
	left:-26px;
}
.list_new{
	padding-top: 34px;
}
.date_detail{
	color: #707070;
	font-size: 10px;
}
.info_res_new {
	background-color: white;
	padding: 0px 16px;
}
.info_res_new h3 a,.info_res_new h3 a:hover,.titile_sticky_right a,.titile_sticky_right a:hover{
	color: #2e2e2e;
	text-decoration: none;
}
._detail, ._detail:hover {
	color: #ffb300;
	text-decoration: none;
	padding-top: 3px;
	line-height: 2;
}
.btn_dl_new{
	left: 2%;
}
.scrollmenu{
	display: block;
	background: transparent;
	overflow-y: hidden;
	overflow-x: scroll;
	-ms-overflow-style: none;
	-ms-scroll-snap-type: mandatory;
	-ms-scroll-snap-points-x: snapInterval(0%,100%);
	-ms-scroll-chaining: chained;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	position: relative;
	margin: 0;
}
.navhome {
	display: block;
	overflow: hidden;
	margin: 0px 0 -5px 5px;
	background: #fff;
	width: 1000px;
}
.navhome a:last-child{
	padding-right: 0px;
}
.navhome a {
	float: left;
	margin: 0;
	background: #fff;
	text-align: center;
	font-size: 13px;
	color: #42a4dc;
	text-decoration: none;

}
.all_id{
	padding-left: 0px !important;
}
.navhome a h3:hover,.navhome a h3:focus{
	color: #42a4dc;
}
.navhome h3 {
	display: block;
	font-size: 12px;
	padding: 5px 0;
	color: #2e2e2e;
	text-align: center;
	line-height: 1.3em;
	border-right: 1px solid #F3F3F3;
	padding-right: 15px;
	padding-left: 15px;
}
.box_detail_left{
	width: 70%;
}
.box_right{
	width: 29%;
}
.mn_mar{
	border-right:transparent !important;
}
.color_default{
	color: #42a4dc !important;
}
.color_edit{
	color: #2e2e2e;
}
.icon_down_new i{
	padding-left: 7px;
}
.view_more{
	padding: 20px 0px;
	text-align: center;

}
.view_more a {
	color: #ffb300;
	border: 1px solid #ffb300;
	border-radius: 15px;
	padding: 5px 30px;
	font-size: 13px;
	text-decoration: none;
}
/*end css list new*/
/*Css detail_store*/
.result_search{
	padding-bottom: 10px;
	font-size: 16px;
	color: #707070;
}

.caption a{
	text-decoration: none;
}
.caption{
	padding: 10px 16px!important;

}
.info_res{
	background-color: white;
	padding: 0px 16px;
	border-top: 1px solid #dcdcdc;
}
.info_res .col-md-10,._info_res .col-md-10{
	border-right: 1px solid #dcdcdc;
}
.title a{
	display: block;
	font-size: 12px;
	color: black;
	font-weight: 700;
	font-family: font_menu;
}
.title_caption{
	background-color: #42A4DC;
	padding: 2px 5px;
	font-family: font_menu;
	font-size: 12px;
	border-radius: 10px;
	color: white;
	text-decoration: none;
}
._title_caption{
	font-size: 12px;
	font-family: helvetica_bold;
	color: #2e2e2e;
	padding-left: 6px;
}
.thum-content-text{
	padding-top: 10px;
}
.thumbnail-title{
	padding-top: 10px !important;
}

.title a{
	display: block;
	font-size: 12px;
	color: black;
	font-weight: 700;
	font-family: font_menu;
}
.address{
	color: #707070;
}
.point i {
	font-size: 9px !important;
}
.number_count {
	font-size: 12px;
	color: #2e2e2e;
}
.box_1{
	background-color: white;
	padding: 12px 21px 0px 20px;
	font-size: 12px !important;
	color: #2e2e2e;
	min-height: 170px;
	line-height: 1.7;
}
.box_pr{
	height: 170px;
}
.box_1 strong,.name_store{
	font-size: 12px;
	font-family: helvetica_bold;
}
.item-hover-show-text-info{
	display: none;
}

._list_store_detail{
	margin-bottom: 15px;
	 background-color: white;
}
._list_store_detail:hover .item_box{
	display: none;
}
._list_store_detail:hover .item-hover-show-text-info{
	display: block !important;
}

.count_recod{
	font-family: helvetica_bold;
	color: #ffb300;
}

/*end detail_store*/
/*chi tiet cua hang*/
.box_dt{
	width: 85%;
	float:left;
	padding-left: 6px;
}
.point_box_dt{
	right: 20px;
}
.sticky_detail{
	width: 29%;
	margin-top: 30px;
}
.title_share{
	border-top: 1px solid #bdbdbd;
	margin: 0px 20px;
	padding: 10px 0px;
	font-size: 10px;
	color: #2e2e2e;
}
.icon_share{
	padding-bottom: 16px;
}
.icon_share a{
	padding: 0px 10px;
}
.promotion_detail_store{
	padding: 12px 16px 0px 16px;
}
.titile_sticky_right{
	padding:0px
}
.title_box_left_detail{
	font-family: helvetica_bold;
	font-size: 22px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0px;
}
.conten_detail_store{
	padding: 0px 40px;
}
.conten_detail_top{
	font-family: font_italic_bold;
	font-size: 12px;
}
.conten_ft{
	font-size: 12px;
	color: #2e2e2e;
}
.im_detail_store{
	padding: 20px 30px 20px 30px;
}
.fb_xofa{
	padding-bottom: 20px;
}
.fb_xofa a{
	color: #42a4dc;
	text-decoration: underline;
}
/*home*/
.slider_home{
	background-color: #2e2e2e;
}
.list_extensions {
	margin: auto;
	padding-left: 0px;
	width: 85%;
	display: table;
	padding: 20px 0px;
}
.list_extensions li {
	width: 13.6%;
	display: inline-block;
	list-style: none;
	text-align: center;
}
.list_extensions li img {
	width: 55px;
	margin: auto;
}
.list_extensions li a div {
	font-size: 12px;
	color: #2e2e2e;
	padding-top: 10px;
}
._more{
	margin-top: 30px;
}
._more a {
	padding-left: 15px;
	color: #ffb300;
	font-size: 10px;
	font-family: font_menu;
	text-decoration: none;
	text-transform: uppercase;
}
.number {
	color: #030404;
	position: absolute;
	top: 46px;
	left: 23px;
}
.number div {
	background-color: white;
	font-size: 38px;
	padding: 8px 13px;
	border-radius: 15px;
	opacity: 0.7;
	float: left;
	margin-right: 8px;
}
.title_oper {
	position: absolute;
	top: 20px;
	left: 23px;
	color: #2e2e2e;
}
.oper_point_right {
	background-color: white;
	padding: 60px 70px 63px 70px;
}
.box_conten {
	padding: 16px 0px 20px 0px;
}
.btn_reg {
	background-color: #6196fe;
	height: 32px;
	border-radius: 5px;
	text-align: center;
	padding-top: 11px;
}
.box_store_reg{
	width: 66%;
}
.box_conten_reg{
	width: 31%
}
.btn_reg a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-family: helvetica_bold;
	font-size: 8px;
}
._btn_ud div {
	width: 50%;
	padding-left: 6px;
	padding-top: 10px;
}
.point_bt {
	padding-top: 16px !important;
	font-size: 10px;
	text-align: center;
}
.im_oper_point_right{
	width: 29%;
	margin: 0px auto;
}
.point_top {
	font-family: font_italic_bold;
	color: #42A4DC;
	font-size: 12px;
}
.box_conten div, .point_bt {
	font-family: font_italic;
	color: #2e2e2e;
	padding-top: 8px;
}
.point_conten {
	font-size: 12px;
}
.box_bill, .box_tea {
	width: 49.9%;
	padding: 16px 8px !important;
}
.title_case_top {
	font-size: 10px;
}
.box_im_case {
	width: 60%;
	margin: auto;
	padding-top: 16px;
}
.point_case {
	position: absolute;
	top: 38%;
	left: 23%;
}
._number_ {
	color: white;
	font-size: 14px;
	font-weight: 600;
}
._point {
	color: white;
	font-size: 8px;
	font-weight: 600;
}
.info_case {
	padding-left: 35px;
	padding-top: 10px;
}
.use-info {
	width: 15%;
}
.name_case {
	padding-top: 5px;
	padding-left: 7px;
	font-size: 11px;
}
.icon_next_case {
	background-image: url(../img/Symbol13.png);
	position: absolute;
	width: 10px;
	height: 17px;
	top: 48%;
	left: 49%;
}
.case-item {
	width: 32.4%;
	background-color: white;
	margin-right: 15px;
	box-shadow: rgba(45,45,45,.05) 0 0 0, rgba(49,49,49,.05) 0 1px 1px, rgba(42,42,42,.05) 0 2px 2px, rgba(32,32,32,.05) 0 4px 4px, rgba(49,49,49,.05) 0 8px 8px, rgba(35,35,35,.1) 0 16px 16px;
	transform: translate(0,-2px);
}
.info_tea {
	padding-top: 24px;
	padding-left: 49px;
}
.case-item:last-child{
	margin-right: 0px;
}

.swiper-pagination-bullet-active{
	background: #ffb300 !important;
}


._review_banner{
	position: relative;
}

.wapper_slider .swiper-container{
	height: 479px;
}

.wapper_slider .swiper-button-prev,._review_banner .swiper-button-prev{
	left: -2%;
	background-image: url(../img/svg/arrow-down-sign-to-navigate.svg)  !important;
	transform: rotate(180deg);
}
.wapper_slider .swiper-button-next ,._review_banner .swiper-button-next{
	right: -2%;
	background-image: url(../img/svg/arrow-down-sign-to-navigate.svg) !important;
}

.wapper_slider .swiper-button-next, .wapper_slider .swiper-button-prev,._review_banner .swiper-button-prev,._review_banner .swiper-button-next{
	background-color: white;
	width: 39.55px;
	height: 39.55px;
	border-radius: 50%;
	background-size: 15px 16px;
	position: absolute;
	outline: none;
	margin-top: -31px !important;

}

#pagination{
	left: 48%;
	margin-top: 16px;
}
#pagination span{
	margin: 0px 5px;
}

.banner_review{
	height: 232px;
	width: auto;
}
.banner_review .swiper-slide{
	width: 244px;
	/*width: 215px;*/
	background: transparent;
}

.conten_review{
	padding-top: 20px;
	text-align: left;
}
.info_review{
	position: absolute;
	bottom: 10%;
	left: 10%;
}

.im_user_review{
	height: 232px;
	margin: 0px 10px;
}
.box_review .thumbnail{
	background-color: transparent;
	border:none;
}
.box_review:hover .thumbnail{
	display: none;
}
.box_review:hover .item-hover-note-review,.box_review:hover .note_review {
	display: block !important;
}

.note_review{
	padding: 42.8px 34px;
	background-color: white;
	margin-left:9px;
	width: 100%;
	display: none;
}
.item-hover-note-review{
	width: 92.8%;
	margin-bottom: 0px !important;
}
.list_extensions li a ,.list_extensions li a:focus {
	font-size: 12px;
	color: #2e2e2e;
	padding-top: 10px;
	text-decoration: none;
}